[botdetection]
trusted_proxies = ['127.0.0.0/8', '::1', '172.16.0.0/12', '192.168.0.0/16']

[botdetection.ip_limit]
filter_link_local = false
link_token = false
err_count: 50
err_window: 0:10:00
rate_limit_count: 100
rate_limit_window: 0:01:00

[botdetection.ip_lists]
pass_ip = ['127.0.0.0/8', '::1', '172.16.0.0/12', '192.168.0.0/16']

[server:main]
workers = 4
bind = ["0.0.0.0:8080"]